<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="todo1.css">
  <style> ul { list-style-type: none; } </style>
</head>
<body>
  <div id="app">
    <h1>할 일</h1>
    <ul>
      <li v-for="(todo, index) in todoMap" v-bind:key = "key">
        <input type="checkbox" v-model="checked[index]" />
        {{ todo.title }}
      </li>
    </ul>
    <input type="text" v-model.trim="todo.title" />
    <button type="button" v-on:click="save" v-bind:disabled="!todo.title">할일 추가</button>
    <button type="button" v-on:click="delete" v-show="checkedCount > 0">삭제</button>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        todoMap: [],
        checked: [],
        todo: {},
        selectedKey : null
      },
      computed: {
        checkedCount: function() {
          let count = 0;
          for (let i = 0; i < this.checked.length; ++i)
            if (this.checked[i]) ++count;
          return count;
        }
      },
      methods: {
        save: function() {
         axios.post('https://skhu-ydj.firebaseio.com/todo1.json', this.todo)
         .then(response => this.inquire);

        },
        delete: function() {
            if (confirm("삭제하겠습니까?") == false) return;
            for (let i in this.todoMap){
                if(this.checked[i]!=null){
                    this.checked[i]=null;
                    this.selectedKey = i;
                    axios.delete('https://skhu-ydj.firebaseio.com/todo1/' + this.selectedKey+'.json')
                        .then(response => this.reload());
                }
            }
        },
        inquire: function(){
            axios.get('https://skhu-ydj.firebaseio.com/todo1.json')
            .then(response => this.todoMap = response.data);
        }
      }
    })

    window.onload = function() {
      app.inquire();
    }
   </script>
</body>
</html>
